<div class="container">
  <div class="card shadow mb-4">
    <div class="card-body">
      <table class="table table-striped">
        <thead>
        <tr> <th>Id</th><th>Nom</th> <th>Taille</th> <th>Genre</th> <th></th><th></th></tr>
        </thead>
        <tbody *ngFor="let cloth of cloths">
        <tr>
          <td>{{cloth.id}}</td>
          <td>{{cloth.name}}</td>
          <td>{{cloth.size}}</td>
          <td>{{cloth.gender_cloth_id}}</td>
          <td> <button type="button" (click)="goToClothUpdateForm(cloth.id)">Mettre à jour</button> </td>
          <td> <button type="button" (click)="deleteClothById(cloth.id)">Supprimer</button> </td>
        </tr>
        </tbody>
      </table>
    </div>
  </div>
</div>
