<form class="container">
  <div class="form-control text-center">
    <p>Connexion Associations</p>
  </div>
  <br>

  <div class="row justify-content-md-center">
    <div class="col-md-4">
      <label class="sr-only" for="name">Name</label>
      <input type="text" class="form-control mb-2" id="name" placeholder="Nom" name="name" [(ngModel)]="association.name">
    </div>


      <div class="col-md-4">
        <label class="sr-only" for="password">Nom</label>
        <input type="password" class="form-control" id="password" placeholder="Password" name="password" [(ngModel)]="association.password">
      </div>


    <div class="col-md-2">
      <button type="submit" class="btn btn-primary mb-2" (click)="connection()">Connexion</button>
    </div>

  </div>
</form>
