<form class="container">
  <div class="row">
    <div class="form-control text-center col-md-12">
      <p>Mise à jour de l'aliment</p>
    </div>

    <div class="row justify-content-md-center">
      <div class="col-md-6">
        <label for="name">Nom :</label>
        <input  type="text" name="name" id="name" class="form-control" [(ngModel)]="food.name">
      </div>
    </div>

    <div class="row justify-content-md-center">
      <div class="col-md-6">
        <label for="expirationDate">Date de péremption : </label>
        <input type="date" id="expirationDate" name="expirationDate" class="form-control" [(ngModel)]="food.expirationDate">
      </div>
    </div>

    <div class="row justify-content-md-center">
      <div class="col-md-6">
        <label>Type de nouritures: </label>
        <select class="form-select" ng-options="typeFood as type.label for typeFood in typesFood track by typeFood.id" [ngModelOptions]="{standalone: true}" [(ngModel)]="food.type_food_id">
          <option value="" readonly="" selected>-- Choisir --</option>
          <option async *ngFor="let typeFood of typesFood" ngDefaultControl [value]="typeFood.id">
            {{typeFood.type}}
          </option>
        </select>
      </div>
    </div>

    <br>
    <div class="row justify-content-md-center">
      <label></label>
      <button type="button" (click)="updateFood()" class="btn btn-primary mb-2 col-md-2">Mettre à jour</button>
    </div>

  </div>
</form>


