<!DOCTYPE html>
<html >
<head>
  <meta charset="utf-8">
  <title>Home</title>
  <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-EVSTQN3/azprG1Anm3QDgpJLIm9Nao0Yz1ztcQTwFspd3yD65VohhpuuCOmLASjC" crossorigin="anonymous">
</head>
<body>

<div class="navbar navbar-expand-lg navbar-dark bg-dark">
<ul ngbNav #nav="ngbNav" [activeId]="2" class="dropdownMenuButton2">
  <li ngbDropdown><a class="navbar-brand" href="#">Human-Helper</a></li>

  <li ngbDropdown class="nav-item">
    <a href (click)="false" class="nav-link" ngbDropdownToggle>Association</a>
    <div ngbDropdownMenu>
      <button routerLink="association/connection" class="dropdown-item" ngbDropdownItem>Connexion</button>
      <button routerLink="association/inscription" class="dropdown-item" ngbDropdownItem>inscription</button>
      <div class="dropdown-divider"></div>
      <button routerLink="associations" class="dropdown-item" ngbDropdownItem>Liste</button>
    </div>
  </li>

  <li ngbDropdown class="nav-item">
    <a href (click)="false" class="nav-link" ngbDropdownToggle>Volontaires</a>
    <div ngbDropdownMenu>
      <button routerLink="volunteer/connection" ngbDropdownItem>Connexion</button>
      <button routerLink="volunteer/inscription" ngbDropdownItem>Inscription</button>
      <div class="dropdown-divider"></div>
      <button routerLink="volunteer" ngbDropdownItem>Liste</button>
    </div>
  </li>

  <li ngbDropdown class="nav-item">
    <a href (click)="false" class="nav-link" ngbDropdownToggle>Camp</a>
    <div ngbDropdownMenu>
      <button routerLink="camp/report" ngbDropdownItem>report camp</button>
      <div class="dropdown-divider"></div>
      <button routerLink="camps" class="dropdown-item" ngbDropdownItem>Liste</button>
    </div>

  </li><li ngbDropdown class="nav-item">
    <a href (click)="false" class="nav-link" ngbDropdownToggle>Médicaments</a>
    <div ngbDropdownMenu>
      <button routerLink="donation/medicament" ngbDropdownItem>Donner</button>
      <div class="dropdown-divider"></div>
      <button routerLink="medicaments" class="dropdown-item" ngbDropdownItem>Liste</button>
    </div>
  </li>
  <li ngbDropdown class="nav-item">
    <a href (click)="false" class="nav-link" ngbDropdownToggle>Nourriture</a>
    <div ngbDropdownMenu>
      <button routerLink="donation/food" ngbDropdownItem>Donner</button>
      <div class="dropdown-divider"></div>
      <button routerLink="foods" class="dropdown-item" ngbDropdownItem>Liste</button>
    </div>
  </li>

  <li ngbDropdown class="nav-item">
    <a href (click)="false" class="nav-link" ngbDropdownToggle>Vêtements</a>
    <div ngbDropdownMenu>
      <button routerLink="donation/cloth" class="dropdown-item" ngbDropdownItem>Ajouter</button>
      <div class="dropdown-divider"></div>
      <button routerLink="cloths" class="dropdown-item" ngbDropdownItem>Liste</button>
    </div>
  </li>

  <li ngbDropdown class="nav-item">
    <a href (click)="false" routerLink="statistics" class="nav-link" ngbDropdownToggle>Statistiques</a>
  </li>


</ul>
</div>
<br>


<router-outlet></router-outlet>
<!--<div [ngbNavOutlet]="nav" class="mt-2"></div>-->


</body>
</html>


