<!DOCTYPE html>
<html>
<head>
  <meta charset="utf-8">
  <title>Home</title>
  <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/css/bootstrap.min.css" rel="stylesheet"
        integrity="sha384-EVSTQN3/azprG1Anm3QDgpJLIm9Nao0Yz1ztcQTwFspd3yD65VohhpuuCOmLASjC" crossorigin="anonymous">
</head>
<body>

<div class="navbar navbar-expand-lg navbar-dark bg-dark">
  <ul ngbNav #nav="ngbNav" [activeId]="2" class="dropdownMenuButton2">
    <li ngbDropdown><a class="navbar-brand" href="#">Human-Helper</a></li>
    <!--<ng-template [ngIf]="isAuth == false">
    <li ngbDropdown class="nav-item">
      <button routerLink="association/connection" type="submit" class="btn btn-primary mb-2" >Connexion</button>
    </li>

    <li>
      <button routerLink="association/inscription" type="submit" class="btn btn-primary mb-2" >Inscription</button>
    </li>
      </ng-template>-->

    <ng-template [ngIf]="isAuth == true">
      <li class="nav-item" ngbDropdown>
        <a (click)="false" class="nav-link" href ngbDropdownToggle>Association</a>
        <div ngbDropdownMenu>
          <div class="dropdown-divider"></div>
          <button routerLink="associations" class="dropdown-item" ngbDropdownItem>Liste</button>
        </div>
      </li>


      <li ngbDropdown class="nav-item">
        <a href (click)="false" class="nav-link" ngbDropdownToggle>Camp</a>
        <div ngbDropdownMenu>
          <button routerLink="camp/report" ngbDropdownItem>Signaler un nouveau camp</button>
          <div class="dropdown-divider"></div>
          <button routerLink="camps" class="dropdown-item" ngbDropdownItem>Liste</button>
        </div>

      </li>
      <li ngbDropdown class="nav-item">
        <a href (click)="false" class="nav-link" ngbDropdownToggle>Médicaments</a>
        <div ngbDropdownMenu>
          <button routerLink="medicament/add" ngbDropdownItem>Ajouter</button>
          <div class="dropdown-divider"></div>
          <button routerLink="medicaments" class="dropdown-item" ngbDropdownItem>Liste</button>
        </div>
      </li>
      <li ngbDropdown class="nav-item">
        <a href (click)="false" class="nav-link" ngbDropdownToggle>Nourriture</a>
        <div ngbDropdownMenu>
          <button routerLink="food/add" ngbDropdownItem>Ajouter</button>
          <div class="dropdown-divider"></div>
          <button routerLink="foods" class="dropdown-item" ngbDropdownItem>Liste</button>
        </div>
      </li>

      <li ngbDropdown class="nav-item">
        <a href (click)="false" class="nav-link" ngbDropdownToggle>Vêtements</a>
        <div ngbDropdownMenu>
          <button routerLink="cloth/add" class="dropdown-item" ngbDropdownItem>Ajouter</button>
          <div class="dropdown-divider"></div>
          <button routerLink="cloths" class="dropdown-item" ngbDropdownItem>Liste</button>
        </div>
      </li>

      <li ngbDropdown class="nav-item">
        <a (click)="false" class="nav-link" ngbDropdownToggle routerLink="statistics">Statistiques</a>
      </li>

      <li ngbDropdown class="nav-item">
        <a href (click)="false" class="nav-link" ngbDropdownToggle>Livraison</a>
        <div ngbDropdownMenu>
          <button routerLink="delivery" class="dropdown-item" ngbDropdownItem>Toutes les livraisons</button>
          <div class="dropdown-divider"></div>
          <button routerLink="delivery/delivered" class="dropdown-item" ngbDropdownItem>Livré</button>
          <button routerLink="delivery/delivery" class="dropdown-item" ngbDropdownItem>En cours de livraison</button>
        </div>
      </li>

      <div>
        <button type="submit" class="btn btn-primary mb-2 " (click)="logout()">Se Déconnecter</button>
      </div>
    </ng-template>
  </ul>

</div>
<br>
<router-outlet></router-outlet>

</body>
</html>


