<div class="container">
  <div class="card shadow mb-4">
    <div class="card-body">
      <table class="table table-striped">
        <thead>
        <tr> <th>Id</th><th>Nom</th> <th>Date de péremption</th> </tr>
        </thead>
        <tbody *ngFor="let medicament of medicaments">
        <tr>
          <td>{{medicament.id}}</td>
          <td>{{medicament.name}}</td>
          <td>{{medicament.expirationDate}}</td>
          <td> <button type="button" (click)="goToMedicamentUpdateForm(medicament.id)">Mettre à jour</button> </td>
          <td> <button type="button" (click)="deleteMedicamentById(medicament.id)">Supprimer</button> </td>
        </tr>
        </tbody>
      </table>
    </div>
  </div>
</div>
