<div class="container">
  <div class="card shadow mb-4">
    <div class="card-body">
      <table class="table table-striped">
        <thead>
        <tr> <th>Id</th><th>Nom</th> <th>Prix</th> <th>mail</th> </tr>
        </thead>
        <tbody *ngFor="let association of associations">
        <tr >
          <td>{{association.id}}</td>
          <td>{{association.name}}</td>
          <td>{{association.money}}</td>
          <td>{{association.mail}}</td>
        </tr>
        </tbody>
      </table>
    </div>
  </div>
</div>
